main {
    display: grid;
    grid-template: 30% 70% / 40% 60%;
  }
  section {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section p {
    margin: 20px;
  }
  #hero {
    grid-area: 1/1/2/3;
  }
  #whyUs {
    grid-area: 2/1/2/2;
  }
  #callToAction {
    grid-area: 2/2/2/3;
    flex-direction: column;
  }
  @media (max-width: 500px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    #whyUs {
      display: none;
    }
  }
  