/* body {
    font-family: 'Times New Roman', serif;
    color: var(--white);
    background-image: url("./assets/patterns.jpg");
}

 h2, h3 {
    font-weight: bold;
    margin: 40px;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.1em;
}

.content {
    font-family: 'PT Serif', serif;
    color: var(--white);
    display: flex;
    flex-direction: column; 
    justify-content: center;  
    align-items: center;
    margin: 20px; 
}

.playerActionContent {
    display: flex;
    flex-direction: column; 
}

ol {
    display: flex;
}

ol > li {
    padding: 20px;
}

ol > li:hover::after {
    content: attr(data-blackjack-value);
    margin: 10px;
}

.actionButton {
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5em 1.5em;
    margin: 10px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 3px;

    transition: all 0.3s;
}

.actionButton:hover{ 
    transform: translateY(-10px);
    background-color: var(--gold);
    color: var(--black);
    border: 1px solid var(--gold);
}

.actionButton:hover::after{ 
    content: attr(data-user-hints); 
    position: absolute;
    left: 100%; 
    color: var(--white);
    white-space: nowrap; 
    font-size: 0.8em;
    margin-left: 15px; 
} */

.mdc-top-app-bar--fixed-adjust {
    padding-top: 100px;
}

.standard-margin {
    margin: 10px;
  }
.ampler-padding {
    padding: 24px;
  }

.align-self-center {
    align-self: center;
  }

.space-between {
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.give-height {
    min-height: 50vh;
}

.give-width {
    min-width: 50vw;
}

.heading {
    font-weight: bold;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

.space-evenly {
    justify-content: space-evenly;
  }

.take-width {
    box-sizing: border-box;
    width: 100%;
  }
  
  .hidden {
    display: none;
  }


